<div x-data="{ subject_keys : {{ subject_keys }}, selectedSubject : {{ subject_keys }}[0] }" class="flex flex-col gap-3 w-full">
    <div class="flex flex-row self-center fixed top-0 z-10">
        <div class="tabs tabs-box">
            <template x-for="subject_name in subject_keys">
                <input type="radio" name="subjectTabs" :aria-label="subject_name" :value="subject_name" x-model="selectedSubject" class="tab" />
            </template>
        </div>
    </div>
    {% for subject in subject_dict %}
    <div x-show="selectedSubject === '{{ subject }}'">
        {% for qna in subject_dict[subject] %}
            {% if not loop.first %}
                <hr class="text-transparent divider">
            {% endif %}
            <div class="card p-5 bg-base-300 text-base-content select-none">
                <span class="card-title">문제 {{qna.qnum}}</span>
                <div class="card-body text-lg">
                    {% if qna.imgPaths %}
                    <span>{{ qna.questionstr.split('@')[0] }}</span>
                    <img src="/api/solve/img/{{ qna.imgPaths|first }}" class="justify-self-center max-w-3/4 h-auto" />
                    {% else %}
                    <span>{{qna.questionstr}}</span>
                    {% endif %}
                    <div class="card-actions flex flex-col mt-5">
                        {% for option in [qna.ex1str, qna.ex2str, qna.ex3str, qna.ex4str] %}
                        <button class="btn btn-block min-h-[48px] h-auto bg-base-200 justify-start text-start text-sm text-base-content" >
                            {{ ['가','나','사','아'][loop.index0] }}. {{ option }}
                        </button>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>