<footer class="footer sm:footer-horizontal bg-base-300 text-base-content p-10">
  <div>
    <h6 class="footer-title">Tech Stack</h6>
    <div class="grid grid-flow-col auto-cols-max gap-x-8 gap-y-2">
      <dl class="grid grid-cols-[max-content,1fr] gap-x-4">
        <dt class="font-bold col-span-2">Backend</dt>
        <dt>Language</dt>
        <dd>
          <a
            href="https://www.python.org/"
            target="_blank"
            rel="noopener noreferrer"
            class="link link-hover"
            >Python</a
          >
        </dd>
        <dt>Framework</dt>
        <dd>
          <a
            href="https://fastapi.tiangolo.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="link link-hover"
            >FastAPI</a
          >
        </dd>
        <dt>Database</dt>
        <dd>
          <a
            href="https://www.mysql.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="link link-hover"
            >MySQL</a
          >
        </dd>
        <dt>ORM</dt>
        <dd>
          <a
            href="https://sqlmodel.tiangolo.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="link link-hover"
            >SQLModel</a
          >,
          <a
            href="https://www.sqlalchemy.org/"
            target="_blank"
            rel="noopener noreferrer"
            class="link link-hover"
            >SQLAlchemy</a
          >
        </dd>
      </dl>

      <dl class="grid grid-cols-[max-content,1fr] gap-x-4">
        <dt class="font-bold col-span-2">Server-Side Frontend</dt>
        <dt>Hypertext Library</dt>
        <dd>
          <a
            href="https://htmx.org/"
            target="_blank"
            rel="noopener noreferrer"
            class="link link-hover"
            >htmx</a
          >
        </dd>
        <dt>JS Interactivity</dt>
        <dd>
          <a
            href="https://alpinejs.dev/"
            target="_blank"
            rel="noopener noreferrer"
            class="link link-hover"
            >Alpine.js</a
          >
        </dd>
        <dt>Template</dt>
        <dd>
          <a
            href="https://jinja.palletsprojects.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="link link-hover"
            >Jinja2</a
          >
        </dd>
        <dt>CSS</dt>
        <dd>
          <a
            href="https://tailwindcss.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="link link-hover"
            >Tailwind CSS</a
          >
        </dd>
        <dt>UI Library</dt>
        <dd>
          <a
            href="https://daisyui.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="link link-hover"
            >DaisyUI</a
          >
        </dd>
      </dl>

      <dl class="grid grid-cols-[max-content,1fr] gap-x-4">
        <dt class="font-bold col-span-2">Dev & Deployment</dt>
        <dt>Testing</dt>
        <dd>
          <a
            href="https://docs.pytest.org/"
            target="_blank"
            rel="noopener noreferrer"
            class="link link-hover"
            >Pytest</a
          >
        </dd>
        <dt>Web Server</dt>
        <dd>
          <a
            href="https://www.uvicorn.org/"
            target="_blank"
            rel="noopener noreferrer"
            class="link link-hover"
            >Uvicorn</a
          >
        </dd>
      </dl>
    </div>
  </div>

  <div>
    <h6 class="footer-title">Credits</h6>
    <div class="grid grid-flow-col gap-8">
      <ul>
        <p class="font-bold">Team Members</p>
        <li>
          <a
            href="https://github.com/rsh2231"
            target="_blank"
            rel="noopener noreferrer"
            class="link link-hover"
            >rsh2231</a
          >
        </li>
        <li>
          <a
            href="https://github.com/DevLibrary04"
            target="_blank"
            rel="noopener noreferrer"
            class="link link-hover"
            >DevLibrary04</a
          >
        </li>
      </ul>
      <div>
        <p class="font-bold">Advising Professors</p>
        <p>Lee</p>
        <p>Kim K.</p>
        <p>Han</p>
        <p>Kim T.</p>
        <p>Hong</p>
      </div>
    </div>
  </div>

  <form
    x-data="{
    theme:localStorage.getItem('theme'),
    system : null,
    init() {
      const mediaQuery = window.matchMedia('(prefers-color-scheme:dark)');
      this.system = mediaQuery.matches ? 'dark' : 'light';
      mediaQuery.addEventListener('change', e => {
        this.system = e.matches ? 'dark' : 'light';
      });
    } 
  }"
    class="join join-vertical">
    <input
      type="radio"
      @change="localStorage.setItem('theme', 'system'), $el.value=system, document.documentElement.removeAttribute('data-theme')"
      :checked="theme === $el.value"
      :value="system"
      value="system"
      name="theme-buttons"
      aria-label="System"
      class="btn theme-controller join-item" />
    <input
      type="radio"
      @change="localStorage.setItem('theme', $el.value)"
      :checked="theme === $el.value"
      name="theme-buttons"
      aria-label="Light"
      value="light"
      class="btn theme-controller join-item" />
    <input
      type="radio"
      @change="localStorage.setItem('theme', $el.value)"
      :checked="theme === $el.value"
      name="theme-buttons"
      aria-label="Dark"
      value="dark"
      class="btn theme-controller join-item" />
  </form>
</footer>
