{% extends "_base.html" %} {% block content %}
<h1 class="justify-self-center font-bold text-3xl">Front page</h1>
<div class="divider"></div>
<h2 class="justify-self-center">
  This is a nearly-full-stack web application powered by
  <a href="https://fastapi.tiangolo.com/ko/"
    class="link link-hover link-primary">FastAPI</a>
  and
  <a href="https://htmx.org/" class="link link-hover link-primary">htmx</a> with
  <a href="https://tailwindcss.com/" class="link link-hover link-primary">tailwindcss</a>,
  <a href="https://daisyui.com/" class="link link-hover link-primary">daisyUI</a>
</h2>
<div class="divider"></div>
<div class="flex flex-col items-center justify-center">
  <div class="card card-body bg-base-100 shadow-md">
    <h2 class="card-title">TODO</h2>
    <ol class="list-decimal">
      <li class="ml-2 my-0.5 text-lg">implement testing</li>
      <li class="ml-2 my-0.5 text-lg">integrate logging</li>
      <li class="ml-2 my-0.5 text-lg">FastAPI code refactoring</li>
      <li class="ml-2 my-0.5 text-lg">implement nonblocking operations</li>
    </ol>
  </div>
</div>
<div class="divider"></div>
<div
  id="result-div"
  class="flex justify-center items-center my-5 rounded-box border border-base-content/5 bg-base-100"></div>
<div class="flex justify-evenly items-center">
  <a href="/docs"
    ><button class="btn btn-xl btn-primary shadow-md">docs</button></a
  >
  <a href="/redoc"
    ><button class="btn btn-xl btn-secondary shadow-md">redoc</button></a
  >
  <button
    hx-get="/page/test"
    hx-target="#result-div"
    hx-swap="innerHTML"
    class="btn btn-xl btn-info shadow-md">
    데이터 불러오기
  </button>
</div>
<div class="divider"></div>
<h2 class="justify-self-center font-bold italic">Development in progress…</h2>
{% endblock %}
